body {
    background-image: url('pexels-zaksheuskaya-1568607.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

.staffList, .patientList {
    background-image: url('multicolor-background.jpg');
}

.appointmentsBody {
    background-image: url('pinkish-background.jpg');
}

.makeBody {
    background-image: url('firelike.jpg');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}



.appointment-container {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container, .appointment-container, .table-container {
    min-height: 100vh; /* This ensures it's at least the height of the viewport but can grow beyond it */
    height: auto; /* This allows it to grow with content */
}


.appointment-registration-form {
    background-color: rgba(109, 154, 237, 0.498);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-family: Arial, sans-serif;
}



.registration-form {
    background-color: rgba(109, 154, 237, 0.498);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 300px;
}

.container h2, .appointment-container h2, .table-container h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    font-size: 40px;
    color: #333;
    text-shadow: 2px 2px 4px #aaa;
}


.registration-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registration-form button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

* {
    box-sizing: border-box;
}

.patient-list table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    overflow-y: auto;
}

.patient-list th, .patient-list td {
    padding: 10px;
    border: 1px solid #ccc;
}

.patient-list th {
    background-color: #5c6bc0;
    color: white;
}


.search-list table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.search-list th, .patient-list td {
    padding: 10px;
    border: 1px solid #ccc;
}

.search-list th {
    background-color: #5c6bc0;
    color: white;
}

.patient-list tr:nth-child(even), .search-list tr:nth-child(even) {
    background-color: #B1DEF5;
}
.patient-list tr:nth-child(odd), .search-list tr:nth-child(odd) {
    background-color: #E2EEF3;
}


.btn {
            display: inline-block;
            margin: 20px;
            padding: 10px 20px;
            color: #fff;
            background-color: #743ee7;
            border-radius: 5px;
            text-decoration: none;
            font-size: 15px;
            cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}



.appointment-label {
    font-size: 15px;
    font-family: font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 20px;
}

.filter-section, .edit-info {
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 20px;
    background-color: #E2EEF3;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.filter-section .input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-section button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
}


